{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}

{% block content %}
    <div class="bgc-dark-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="pt-40 mb-40">
                        <h2 class="h2">Новости</h2>
                        <div class="row child-plr-0">
                            <div class="col-md-9"></div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row child-plr-0">
                            <div class="col-md-4"></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
{% endblock %}